@import "variables";
@import "headings";


body {
	.block-one{
		background: url('/img/dots.jpg');
		text-align: center;
		img {
			width: 30%;
			height: 30%;
			border-radius: 50%;
			margin-top: 5%;
		}

		h1 {
			color:#7EC1ED;
			font-family: Dosis;
			font-weight: 700;
		}
	}
}